* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 20px;
}

body {
    background-color:whitesmoke;
}

main {
    background-color: rgb(67, 239, 181);
    width: 500px;
    height: 200px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.55);
}